<div class="">
    <app-header></app-header>

    <div class="pt-10 mx-auto w-[720px]" *ngFor="let item of items">
        <div class="flex flex-col" *ngIf="item.id === id && items.length > 0">
          <img src="{{ item.image }}" alt="" class="h-[328px] bg-cover">
          <p class="mt-10 mb-2 text-base font-medium leading-5">{{ item.author }}</p>
          <p class="text-clr-dateText text-xs font-normal leading-4">{{ item.publish_date | date: "dd/MM/yyyy" }}</p>
          <p class="text-xl font-bold my-4">{{ item.title }}</p>
          <div class="flex flex-wrap gap-4">
            <p
              class="py-2 px-4 rounded-[30px] text-xs font-medium leading-4"
              *ngFor="let i of item.categories"
              [style.color]="i.text_color"
              [style.background-color]="i.background_color"
            >
              {{ i.title }}
            </p>
          </div>
          <p class="my-10 text-base leading-7 font-normal">{{ item.description }}</p>
          <p class="text-base pb-[95px] leading-7 font-normal">{{ item.description }}</p>
        </div>
      </div>
</div>