<div class="mx-auto font-fira">
  <app-header></app-header>

  <div class="bg-clr-bg">
    <div class="max-w-web mx-auto">
      <div class="flex justify-between items-center py-16">
        <h1 class="text-[64px] font-bold leading-[72px] text-[#1A1A1F]">ბლოგი</h1>
        <img src="assets/home/mainImg.png" alt="">
      </div>

      <app-selector [slice]="6" class="flex justify-center pb-16"></app-selector>

      <div class="flex flex-wrap gap-x-8 gap-y-14 pb-[66px]">
        <div class="max-w-[408px] flex flex-col" *ngFor="let item of items">
          <img src={{item.image}} alt="">
          <p class="mt-6 mb-2 text-base font-medium leading-5">{{item.author}}</p>
          <p class="text-clr-dateText text-xs font-normal leading-4">{{item.publish_date | date:"dd/MM/yyyy"}}</p>
          <p class="text-xl font-bold my-4 line-clamp-2">{{item.title}}</p>
          <div class="flex flex-wrap gap-4 line-clamp-2">
            <p class="py-2 px-4 rounded-[30px] text-xs font-medium leading-4" *ngFor="let i of item.categories" [style.color]="i.text_color" [style.background-color]="i.background_color">{{i.title}}</p>
          </div>
          <p class="my-4 line-clamp-2 text-base leading-7 font-normal">{{item.description}}</p>
          <button class="flex items-center text-clr-purple gap-1 text-sm font-medium leading-5" (click)="viewBlog(item.id)">
            <p>სრულად ნახვა</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M5.93415 13.0052C5.64125 13.2981 5.64125 13.773 5.93415 14.0659C6.22704 14.3587 6.70191 14.3587 6.99481 14.0659L5.93415 13.0052ZM14.2855 6.46446C14.2855 6.05024 13.9498 5.71445 13.5355 5.71446L6.78555 5.71445C6.37133 5.71445 6.03555 6.05024 6.03555 6.46445C6.03555 6.87867 6.37133 7.21445 6.78555 7.21445H12.7855V13.2145C12.7855 13.6287 13.1213 13.9645 13.5355 13.9645C13.9498 13.9645 14.2855 13.6287 14.2855 13.2145L14.2855 6.46446ZM6.99481 14.0659L14.0659 6.99478L13.0052 5.93412L5.93415 13.0052L6.99481 14.0659Z" fill="#5D37F3"/>
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>